{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">



    <title>main page</title>
</head>
<body>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
         <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Hello! This is Food Detection Web!</h1>
            <p class="lead font-weight-normal">Please login to use this web!</p>
            <a class="btn btn-outline-secondary" href="post_list.html">Coming soon</a>
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>
</body>
</html>

{% endblock %}
